{% if type == 'debian' %}
  {# Installation type for Debian and Ubuntu #}
  <h1>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.DEBIAN.TITLE' | t }}</h1>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.DEBIAN.TEXT1' | t }}</p>
  <pre>
    <code>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.DEBIAN.COMMANDS' | t(package) }}</code>
  </pre>
{% elseif type == 'archlinux' %}
  {# Installation type for Arch Linux #}
  <h1>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.ARCHLINUX.TITLE' | t }}</h1>
  {% if package %}
    {# Installation type for .tar.xz package #}
    <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.ARCHLINUX.PACKAGE' | t(package) }}</p>
  {% endif %}
  {% if aurpackage %}
    {# Installation type for AUR package #}
    <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.ARCHLINUX.AURPACKAGE' | t(aurpackage) }}</p>
  {% endif %}
  {% if development %}
    {# Installation type for development AUR package #}
    <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.ARCHLINUX.DEVELOPMENT' | t(development) }}</p>
  {% endif %}
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.ARCHLINUX.TEXT1' | t }}</p>
  <pre>
    <code>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.ARCHLINUX.COMMANDS' | t(package) }}</code>
  </pre>
{% elseif type == 'source' %}
  {# Installation type for source code #}
  <h1>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.SOURCE.TITLE' | t }}</h1>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.SOURCE.TEXT1' | t(name) }}</p>
  <pre>
    <code>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.SOURCE.COMMANDS' | t(package) }}</code>
  </pre>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.SOURCE.TEXT2' | t }}</p>
  <blockquote>
    <blockquote>
      <blockquote>
        <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.SOURCE.TEXT3' | t }}</p>
      </blockquote>
    </blockquote>
  </blockquote>
{% elseif type == 'remmina-plugin-builder' %}
  {# Installation type for source code using Remmina Plugin Builder #}
  <h1>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.REMMINA_PLUGIN_BUILDER.TITLE' | t }}</h1>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.REMMINA_PLUGIN_BUILDER.TEXT1' | t(name) }}</p>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.REMMINA_PLUGIN_BUILDER.TEXT2' | t(name) }}</p>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.REMMINA_PLUGIN_BUILDER.TEXT3' | t(name) }}</p>
  <pre>
    <code>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.REMMINA_PLUGIN_BUILDER.COMMANDS1' | t(package) }}</code>
  </pre>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.REMMINA_PLUGIN_BUILDER.TEXT4' | t(name) }}</p>
  <pre>
    <code>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.REMMINA_PLUGIN_BUILDER.COMMANDS2' | t(package) }}</code>
  </pre>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.SOURCE.TEXT2' | t }}</p>
  <blockquote>
    <blockquote>
      <blockquote>
        <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.SOURCE.TEXT3' | t }}</p>
      </blockquote>
    </blockquote>
  </blockquote>
{% elseif type == 'index' %}
  <h1>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.INDEX.TITLE' | t }}</h1>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.INDEX.TEXT1' | t }}</p>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.INSTALL.INDEX.TEXT2' | t(name, github) }}</p>
{% else %}
  <h1>Unexpected type {{ type }}</h1>
{% endif %}
