{% if type == 'index' %}
  <h1>{{ 'PLUGIN_SHORTCODE_MUFLONE.TRANSLATIONS.INDEX.TITLE' | t }}</h1>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.TRANSLATIONS.INDEX.TEXT1' | t(name) }}</p>
  {{ content }}
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.TRANSLATIONS.INDEX.TEXT2' | t(name) }}</p>
  <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.TRANSLATIONS.INDEX.TEXT3' | t(transifex, github, github) }}</p>
{% else %}
  <h1>Unexpected type {{ type }}</h1>
{% endif %}
